Repository codecov/worker: changes, and which Codecov flags are due for each by the changed paths.
All: NonTestCode, OutsideTasks

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

comment:
  layout: "reach,diff,flags,components,tree"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: actual_code
      name: NonTestCode
      paths:
        - "!conftest.py"
        - "!**/conftest.py"
        - "!**tests**/test_*.py"
        - "!database/tests/factories/**"
    - component_id: no_tasks
      name: OutsideTasks
      paths:
        - "!tasks/**"
      flag_regexes:
        - "unit"

test_analytics:
  flake_detection: true

Only schedule parallel Upload Tasks
  tasks/tests/integration/test_upload_e2e.py
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
  tasks/upload_processor.py
Due: NonTestCode

Only schedule parallel Upload Tasks (#817)
  tasks/tests/integration/test_upload_e2e.py
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
  tasks/upload_processor.py
Due: NonTestCode

Hardcode parallel-only mode in `UploadProcessor`
  helpers/parallel_upload_processing.py
  tasks/tests/unit/test_upload_processing_task.py
  tasks/upload_processor.py
Due: NonTestCode, OutsideTasks

Hardcode parallel-only mode in `UploadProcessor` (#824)
  helpers/parallel_upload_processing.py
  tasks/tests/unit/test_upload_processing_task.py
  tasks/upload_processor.py
Due: NonTestCode, OutsideTasks

Hardcode parallel mode in `UploadFinisher`
  helpers/metrics.py
  helpers/parallel.py
  rollouts/__init__.py
  services/processing/metrics.py
  services/report/__init__.py
  tasks/parallel_verification.py
  tasks/tests/integration/test_upload_e2e.py
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

Hardcode parallel mode in `UploadFinisher` (#825)
  helpers/metrics.py
  helpers/parallel.py
  rollouts/__init__.py
  services/processing/metrics.py
  services/report/__init__.py
  tasks/parallel_verification.py
  tasks/tests/integration/test_upload_e2e.py
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

Fix notifier without any layout
  services/notification/notifiers/mixins/message/__init__.py
Due: NonTestCode, OutsideTasks

delete MetricContext, populate sentry tags from LogContext (#818)
  conftest.py
  helpers/log_context.py
  helpers/logging_config.py
  helpers/telemetry.py
  helpers/tests/unit/test_log_context.py
  helpers/tests/unit/test_logging_config.py
  helpers/tests/unit/test_telemetry.py
  pytest.ini
  services/report/__init__.py
  tasks/base.py
  tasks/label_analysis.py
  tasks/static_analysis_suite_check.py
  tasks/tests/unit/test_base.py
  tasks/tests/unit/test_check_static_analysis.py
  tasks/tests/unit/test_label_analysis.py
  tasks/tests/unit/test_label_analysis_encoded_labels.py
Due: NonTestCode, OutsideTasks

move repo.updatestamp update from Upload to UploadFinisher
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
  tasks/upload_finisher.py
Due: NonTestCode

move repo.updatestamp update from Upload to UploadFinisher (#828)
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
  tasks/upload_finisher.py
Due: NonTestCode

Only request a single RepoProvider in Notify task
  services/comparison/__init__.py
  services/notification/__init__.py
  services/notification/notifiers/base.py
  services/notification/notifiers/checks/base.py
  services/notification/notifiers/comment/__init__.py
  services/notification/notifiers/generics.py
  services/notification/notifiers/status/base.py
  services/repository.py
  services/tests/test_repository_service.py
  tasks/notify.py
Due: NonTestCode, OutsideTasks

Add metrics for intermediate Report size
  helpers/parallel_upload_processing.py
  requirements.in
  requirements.txt
  services/archive.py
  services/processing/intermediate.py
  services/processing/merging.py
  services/processing/metrics.py
  tasks/upload_finisher.py
  tasks/upload_processor.py
Due: NonTestCode, OutsideTasks

try to fix tests
  services/notification/notifiers/status/base.py
  services/notification/notifiers/tests/integration/test_comment.py
  services/notification/notifiers/tests/unit/test_checks.py
  services/notification/notifiers/tests/unit/test_codecov_slack_app.py
  services/notification/notifiers/tests/unit/test_comment.py
  services/notification/notifiers/tests/unit/test_comment_conditions.py
  services/notification/notifiers/tests/unit/test_generics.py
  services/notification/notifiers/tests/unit/test_gitter.py
  services/notification/notifiers/tests/unit/test_hipchat.py
  services/notification/notifiers/tests/unit/test_irc.py
  services/notification/notifiers/tests/unit/test_slack.py
  services/notification/notifiers/tests/unit/test_status.py
  services/notification/notifiers/tests/unit/test_webhook.py
  services/notification/tests/unit/test_commit_notifications.py
  services/notification/tests/unit/test_notification_service.py
  tasks/save_report_results.py
  tasks/tests/unit/test_notify_task.py
Due: NonTestCode, OutsideTasks

Stop tracking onboarding metrics
  django_scaffold/settings.py
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
Due: NonTestCode, OutsideTasks

Fix import
  tasks/tests/unit/test_upload_task.py
Due: NonTestCode

Stop tracking onboarding metrics (#831)
  django_scaffold/settings.py
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
Due: NonTestCode, OutsideTasks

Fix leaky usage of time machine
  tasks/tests/unit/test_process_flakes.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode

Add metrics for intermediate Report size (#829)
  helpers/parallel_upload_processing.py
  requirements.in
  requirements.txt
  services/archive.py
  services/processing/intermediate.py
  services/processing/merging.py
  services/processing/metrics.py
  tasks/upload_finisher.py
  tasks/upload_processor.py
Due: NonTestCode, OutsideTasks

Fix leaky usage of time machine (#832)
  tasks/tests/unit/test_process_flakes.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode

Send email task tweaks
  tasks/send_email.py
  tasks/tests/integration/test_send_email_task.py
  tasks/tests/unit/test_send_email_task.py
Due: NonTestCode

Run lint
  tasks/send_email.py
  tasks/tests/unit/test_send_email_task.py
Due: NonTestCode

ref: Tweaks to send email task (#833)
  tasks/send_email.py
  tasks/tests/integration/test_send_email_task.py
  tasks/tests/unit/test_send_email_task.py
Due: NonTestCode

Rewrite the core `UploadProcessor` logic
  services/processing/processing.py
  tasks/upload_processor.py
Due: NonTestCode, OutsideTasks

fix the tests
  services/processing/processing.py
  tasks/tests/unit/test_upload_processing_task.py
Due: NonTestCode, OutsideTasks

Only request a single RepoProvider in Notify task (#827)
  services/comparison/__init__.py
  services/notification/__init__.py
  services/notification/notifiers/base.py
  services/notification/notifiers/checks/base.py
  services/notification/notifiers/comment/__init__.py
  services/notification/notifiers/generics.py
  services/notification/notifiers/status/base.py
  services/notification/notifiers/tests/integration/test_comment.py
  services/notification/notifiers/tests/unit/test_checks.py
  services/notification/notifiers/tests/unit/test_codecov_slack_app.py
  services/notification/notifiers/tests/unit/test_comment.py
  services/notification/notifiers/tests/unit/test_comment_conditions.py
  services/notification/notifiers/tests/unit/test_generics.py
  services/notification/notifiers/tests/unit/test_gitter.py
  services/notification/notifiers/tests/unit/test_hipchat.py
  services/notification/notifiers/tests/unit/test_irc.py
  services/notification/notifiers/tests/unit/test_slack.py
  services/notification/notifiers/tests/unit/test_status.py
  services/notification/notifiers/tests/unit/test_webhook.py
  services/notification/tests/unit/test_commit_notifications.py
  services/notification/tests/unit/test_notification_service.py
  services/repository.py
  services/tests/test_repository_service.py
  tasks/notify.py
  tasks/save_report_results.py
  tasks/tests/unit/test_notify_task.py
Due: NonTestCode, OutsideTasks

Do not clear the `LogContext` on task finish
  helpers/log_context.py
  helpers/tests/unit/test_log_context.py
  tasks/base.py
Due: NonTestCode, OutsideTasks

change import
  services/notification/notifiers/mixins/message/__init__.py
Due: NonTestCode, OutsideTasks

change import
  services/processing/processing.py
Due: NonTestCode, OutsideTasks

Rewrite the core `UploadProcessor` logic (#830)
  services/processing/processing.py
  tasks/tests/unit/test_upload_processing_task.py
  tasks/upload_processor.py
Due: NonTestCode, OutsideTasks

Only show VCR logs on errors
  conftest.py
Due: OutsideTasks

Add billing email templates
  templates/auto-refund.html
  templates/auto-refund.txt
  templates/base.html
  templates/failed-payment.html
  templates/failed-payment.txt
Due: NonTestCode, OutsideTasks

Only show VCR logs on errors (#836)
  conftest.py
Due: OutsideTasks

Do not clear the `LogContext` on task finish (#834)
  helpers/log_context.py
  helpers/tests/unit/test_log_context.py
  tasks/base.py
Due: NonTestCode, OutsideTasks

feat: Add billing email templates (#835)
  templates/auto-refund.html
  templates/auto-refund.txt
  templates/base.html
  templates/failed-payment.html
  templates/failed-payment.txt
Due: NonTestCode, OutsideTasks

Refactored timeseries service to dedupe code
  services/timeseries.py
Due: NonTestCode, OutsideTasks

Properly check for created coverage files
  services/report/languages/cobertura.py
  services/report/languages/gap.py
  services/report/languages/jetbrainsxml.py
  services/report/languages/lcov.py
  services/report/languages/mono.py
  services/report/languages/tests/unit/test_cobertura.py
  services/report/languages/tests/unit/test_jetbrainsxml.py
  services/report/tests/unit/test_process.py
Due: NonTestCode, OutsideTasks

Properly check for created coverage files (#838)
  services/report/languages/cobertura.py
  services/report/languages/gap.py
  services/report/languages/jetbrainsxml.py
  services/report/languages/lcov.py
  services/report/languages/mono.py
  services/report/languages/tests/unit/test_cobertura.py
  services/report/languages/tests/unit/test_jetbrainsxml.py
  services/report/tests/unit/test_process.py
Due: NonTestCode, OutsideTasks

Start properly typing `processing_results` and `arguments_list`
  services/processing/intermediate.py
  services/processing/merging.py
  services/processing/processing.py
  services/processing/types.py
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/tests/unit/test_upload_processing_task.py
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

Start properly typing `processing_results` and `arguments_list` (#839)
  services/processing/intermediate.py
  services/processing/merging.py
  services/processing/processing.py
  services/processing/types.py
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/tests/unit/test_upload_processing_task.py
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

Stop writing `ReportDetails`/`files_array`
  requirements.in
  requirements.txt
  services/report/__init__.py
  services/tests/test_report.py
  tasks/tests/integration/test_upload_e2e.py
  tasks/tests/unit/test_preprocess_upload.py
  tasks/tests/unit/test_upload_processing_task.py
  tasks/tests/unit/test_upload_task.py
Due: NonTestCode, OutsideTasks
