Repository codecov/worker: changes, and which Codecov flags are due for each by the changed paths.
All: NonTestCode, OutsideTasks

Make lcov parser more accepting of corrupt coverage lines
  services/report/languages/lcov.py
  services/report/languages/tests/unit/test_lcov.py
Due: NonTestCode, OutsideTasks

feat: add percentage change and warnings in bundle rows (#722)
  services/bundle_analysis/notify/contexts/comment.py
  services/bundle_analysis/notify/contexts/commit_status.py
  services/bundle_analysis/notify/helpers.py
  services/bundle_analysis/notify/messages/comment.py
  services/bundle_analysis/notify/messages/templates/bundle_analysis_notify/bundle_table.md
  services/bundle_analysis/notify/messages/tests/test_comment.py
  services/bundle_analysis/notify/tests/test_helpers.py
  services/bundle_analysis/tests/test_bundle_analysis.py
Due: NonTestCode, OutsideTasks

Better detect corrupted Go report lines (#725)
  services/report/languages/go.py
  services/report/languages/helpers.py
  services/report/languages/tests/unit/test_go.py
Due: NonTestCode, OutsideTasks

Make lcov parser more accepting of corrupt coverage lines (#726)
  services/report/languages/lcov.py
  services/report/languages/tests/unit/test_lcov.py
Due: NonTestCode, OutsideTasks

Coveralls parser now accepts json-encoded `coverage` (#724)
  services/report/languages/coveralls.py
  services/report/languages/tests/unit/test_coveralls.py
Due: NonTestCode, OutsideTasks

update shared
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

fix: add more information to detected flakes logs
  tasks/test_results_finisher.py
Due: NonTestCode

Fix various foreign key column definitions (#721)
  database/models/reports.py
Due: NonTestCode, OutsideTasks

update shared (#727)
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

fix: add more information to detected flakes logs (#728)
  tasks/test_results_finisher.py
Due: NonTestCode

Add defaults to models with DB defaults set
  database/models/core.py
Due: NonTestCode, OutsideTasks

Bootstrap the test database with Django
  conftest.py
  pytest.ini
Due: NonTestCode, OutsideTasks

Refactor tests to use fixtures
  database/tests/factories/core.py
  tasks/tests/unit/test_brolly_stats_rollup.py
  tasks/tests/unit/test_sync_pull.py
Due: NonTestCode, OutsideTasks

Bootstrap unmigrated tables with SQLAlchemy
  conftest.py
Due: OutsideTasks

Make test results timezone aware
  tasks/tests/unit/test_sync_repos_task.py
Due: NonTestCode

Refactored repository services tests to use fixtures
  services/tests/test_repository_service.py
Due: NonTestCode, OutsideTasks

Use a RepositoryFactory to create unique Repos
  services/tests/test_flake_detector.py
Due: NonTestCode, OutsideTasks

Fixed various DB incompatibilities with notify tests
  tasks/tests/unit/test_notify_task.py
Due: NonTestCode

Ensure YAML selection checks are before patch centric selection
  services/yaml/tests/test_yaml.py
Due: NonTestCode, OutsideTasks

Ensure that upload id exists in the database
  tasks/tests/unit/test_upload_processing_task.py
Due: NonTestCode

Fix upload tests to reference correct pull ids and create timestamp
  database/tests/factories/core.py
  tasks/tests/unit/test_upload_task.py
Due: NonTestCode, OutsideTasks

Expect timezone aware timestamps for notification webhook test
  services/notification/notifiers/tests/unit/test_webhook.py
Due: NonTestCode, OutsideTasks

Add some test fixes for report and notify helpers
  services/bundle_analysis/notify/tests/test_helpers.py
  services/tests/test_report.py
Due: NonTestCode, OutsideTasks

Add metric for uploads per scheduled tasks (#718)
  services/bundle_analysis/report.py
  services/report/__init__.py
  services/report/report_processor.py
  services/test_results.py
  tasks/upload.py
Due: NonTestCode, OutsideTasks

Fix `flags` being a `list` in TestResults arguments
  services/test_results.py
Due: NonTestCode, OutsideTasks

Fix `flags` being a `list` in TestResults arguments (#731)
  services/test_results.py
Due: NonTestCode, OutsideTasks

feat: delete flake_detection.py
  services/flake_detection.py
  services/tests/test_flake_detector.py
Due: NonTestCode, OutsideTasks

feat: add flaky_fail_count field to DailyTestRollup sqlalchemy model
  database/models/reports.py
Due: NonTestCode, OutsideTasks

test: create FlakeFactory
  database/tests/factories/reports.py
Due: OutsideTasks

feat: update process flakes to properly handle flaky_fail_count
  tasks/process_flakes.py
  tasks/tests/unit/test_process_flakes.py
Due: NonTestCode

feat: update test results processor to update flaky_fail_count
  tasks/test_results_processor.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode

feat: fix heuristic when reading flakes
  tasks/test_results_finisher.py
  tasks/tests/unit/test_test_results_finisher.py
Due: NonTestCode

update shared version
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

fix: don't handle edge cases that don't actually count and fix bug
  tasks/process_flakes.py
  tasks/test_results_processor.py
  tasks/tests/unit/test_process_flakes.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode

fix: address feedback
  tasks/process_flakes.py
  tasks/test_results_processor.py
Due: NonTestCode

quick fix
  tasks/process_flakes.py
Due: NonTestCode

quick exit
  services/bundle_analysis/report.py
Due: NonTestCode, OutsideTasks

feat: create test flag bridge in test results processor
  database/models/reports.py
  tasks/test_results_processor.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode, OutsideTasks

bundle analysis: remove unnecessary save measurements (#723)
  services/bundle_analysis/report.py
  services/bundle_analysis/tests/test_bundle_analysis.py
  tasks/bundle_analysis_save_measurements.py
  tasks/tests/unit/test_bundle_analysis_save_measurements_task.py
Due: NonTestCode, OutsideTasks

Path conditions:
  NonTestCode: any file but: conftest.py, **/conftest.py, **tests**/test_*.py, database/tests/factories/**
  OutsideTasks: any file but: tasks/**
