Repository codecov/worker: changes, and which Codecov flags are due for each by the changed paths.
All: NonTestCode, OutsideTasks

new shared
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

new shared (#801)
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

chore: further breakdown tracing in BA processor (#798)
  services/bundle_analysis/report.py
Due: NonTestCode, OutsideTasks

Use correct signatures for Celery Task Hooks
  helpers/telemetry.py
  tasks/base.py
  tasks/tests/unit/test_base.py
Due: NonTestCode, OutsideTasks

Use correct signatures for Celery Task Hooks (#791)
  helpers/telemetry.py
  tasks/base.py
  tasks/tests/unit/test_base.py
Due: NonTestCode, OutsideTasks

Refactor tests to use fixtures (#797)
  database/tests/factories/core.py
  tasks/tests/unit/test_brolly_stats_rollup.py
  tasks/tests/unit/test_commit_update.py
  tasks/tests/unit/test_sync_pull.py
  tasks/tests/unit/test_upload_task.py
Due: NonTestCode, OutsideTasks

Adjust repo_id to repoid + default values
  helpers/checkpoint_logger/__init__.py
  helpers/checkpoint_logger/prometheus.py
  tasks/notify.py
  tasks/notify_error.py
  tasks/upload.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

bundle analysis: move to prometheus
  services/bundle_analysis/report.py
Due: NonTestCode, OutsideTasks

bundle analysis: move to prometheus (#802)
  services/bundle_analysis/report.py
Due: NonTestCode, OutsideTasks

Add testst
  helpers/checkpoint_logger/prometheus.py
  helpers/tests/unit/test_checkpoint_logger.py
Due: NonTestCode, OutsideTasks

Refactor implementation to take context in data object
  helpers/checkpoint_logger/__init__.py
  helpers/checkpoint_logger/prometheus.py
  helpers/tests/unit/test_checkpoint_logger.py
  tasks/notify.py
  tasks/notify_error.py
  tasks/upload.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

adjust test
  helpers/checkpoint_logger/__init__.py
  tasks/notify.py
Due: NonTestCode, OutsideTasks

get rid of prints
  helpers/checkpoint_logger/__init__.py
Due: NonTestCode, OutsideTasks

Update `shared` and remove statsd usage
  helpers/checkpoint_logger/__init__.py
  helpers/tests/unit/test_checkpoint_logger.py
  requirements.in
  requirements.txt
  tasks/brolly_stats_rollup.py
  tasks/github_app_webhooks_check.py
  tasks/sync_repos.py
  tasks/tests/unit/test_github_app_webhooks_check.py
  tasks/tests/unit/test_send_email_task.py
Due: NonTestCode, OutsideTasks

update test snapshots
  services/report/languages/tests/unit/node/node1-result.json
  services/report/languages/tests/unit/node/node2-result.json
  services/report/languages/tests/unit/node/node3-result.json
  services/report/languages/tests/unit/xcodeplist.txt
  services/tests/test_report.py
Due: NonTestCode, OutsideTasks

Update `shared` and remove statsd usage (#803)
  helpers/checkpoint_logger/__init__.py
  helpers/tests/unit/test_checkpoint_logger.py
  requirements.in
  requirements.txt
  services/report/languages/tests/unit/node/node1-result.json
  services/report/languages/tests/unit/node/node2-result.json
  services/report/languages/tests/unit/node/node3-result.json
  services/report/languages/tests/unit/xcodeplist.txt
  services/tests/test_report.py
  tasks/brolly_stats_rollup.py
  tasks/github_app_webhooks_check.py
  tasks/sync_repos.py
  tasks/tests/unit/test_github_app_webhooks_check.py
  tasks/tests/unit/test_send_email_task.py
Due: NonTestCode, OutsideTasks

Remove some test usage of `ReportDetails`
  services/tests/test_report.py
  tasks/tests/unit/test_upload_processing_task.py
Due: NonTestCode, OutsideTasks

try with shared factories
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

build: update junit xml generation
  Makefile
Due: NonTestCode, OutsideTasks

fix: update compute_name and add tests
  tasks/test_results_processor.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode

bundle analysis: metrics ref
  services/bundle_analysis/report.py
Due: NonTestCode, OutsideTasks

Fix ReducedError to make it more similar to Django Model
  database/models/reports.py
Due: NonTestCode, OutsideTasks

Do not use transaction for tests
  tasks/tests/unit/test_process_flakes.py
Due: NonTestCode

create LogContext ContextVar and populate in tasks/base.py
  helpers/log_context.py
  helpers/logging_config.py
  helpers/tests/unit/test_log_context.py
  helpers/tests/unit/test_logging_config.py
  tasks/base.py
Due: NonTestCode, OutsideTasks

Remove `BackfillCommitData` task
  tasks/__init__.py
  tasks/backfill_commit_data_to_storage.py
  tasks/tests/unit/test_backfill_commit_data_to_storage_task.py
Due: NonTestCode

Add a metric to count `carryforward_mode=labels` usage
  services/processing/metrics.py
  services/report/raw_upload_processor.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

Add a metric to count `carryforward_mode=labels` usage (#812)
  services/processing/metrics.py
  services/report/raw_upload_processor.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

feat: rewrite the raw test result reports (#799)
  tasks/test_results_processor.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode

Fix ReducedError to make it more similar to Django Model (#808)
  database/models/reports.py
Due: NonTestCode, OutsideTasks

Bootstrap the test database with Django
  conftest.py
  pytest.ini
Due: NonTestCode, OutsideTasks

Bootstrap unmigrated tables with SQLAlchemy
  conftest.py
Due: OutsideTasks

Make test results timezone aware
  tasks/tests/unit/test_sync_repos_task.py
Due: NonTestCode

Fixed various DB incompatibilities with notify tests
  tasks/tests/unit/test_notify_task.py
Due: NonTestCode

Add some test fixes for report and notify helpers
  services/bundle_analysis/notify/tests/test_helpers.py
  services/notification/notifiers/tests/conftest.py
  services/notification/notifiers/tests/unit/test_comment.py
  services/notification/tests/unit/test_commit_notifications.py
  services/tests/test_billing.py
  services/tests/test_report.py
Due: NonTestCode, OutsideTasks

Ensure YAML selection checks are before patch centric selection
  services/yaml/tests/test_yaml.py
Due: NonTestCode, OutsideTasks

Expect timezone aware timestamps for notification webhook test
  services/notification/notifiers/tests/unit/test_webhook.py
Due: NonTestCode, OutsideTasks

Ensure that upload id exists in the database
  tasks/tests/unit/test_upload_processing_task.py
Due: NonTestCode

Fix upload tests to reference correct pull ids and create timestamp
  database/tests/factories/core.py
  tasks/tests/unit/test_upload_task.py
Due: NonTestCode, OutsideTasks

Deduplicate (pullid,repoid) for tests
  services/notification/notifiers/tests/integration/cassetes/test_comment/TestCommentNotifierIntegration/test_notify_gitlab.yaml
  services/notification/notifiers/tests/integration/cassetes/test_comment/TestCommentNotifierIntegration/test_notify_upgrade.yaml
  services/notification/notifiers/tests/integration/cassetes/test_comment/TestCommentNotifierIntegration/test_notify_upload_limited.yaml
  services/notification/notifiers/tests/integration/test_comment.py
Due: NonTestCode, OutsideTasks

Path conditions:
  NonTestCode: any file but: conftest.py, **/conftest.py, **tests**/test_*.py, database/tests/factories/**
  OutsideTasks: any file but: tasks/**
