Repository codecov/worker: changes, and which Codecov flags are due for each by the changed paths.
All: NonTestCode, OutsideTasks

updating workflows
  .github/workflows/ci.yml
Due: NonTestCode, OutsideTasks

perf: remove extra refresh
  services/repository.py
Due: NonTestCode, OutsideTasks

feat: update test_results_parser version and start computing names (#742)
  database/models/reports.py
  requirements.in
  requirements.txt
  services/test_results.py
  services/tests/test_test_results.py
  tasks/test_results_finisher.py
  tasks/test_results_processor.py
  tasks/tests/samples/sample_multi_test_part_1.json
  tasks/tests/samples/sample_multi_test_part_2.json
  tasks/tests/samples/sample_pytest_reportlog.txt
  tasks/tests/samples/sample_test.json
  tasks/tests/samples/sample_test.txt
  tasks/tests/samples/sample_test_missing_network.json
  tasks/tests/samples/sample_test_network.json
  tasks/tests/samples/sample_vitest.txt
  tasks/tests/unit/test_test_results_finisher.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode, OutsideTasks

Created prometheus handler class
  helpers/checkpoint_logger/__init__.py
  helpers/checkpoint_logger/prometheus.py
Due: NonTestCode, OutsideTasks

Retry `UploadFinisher` when Report is locked (#786)
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/upload_finisher.py
Due: NonTestCode

Account for empty reports when merging (#785)
  services/processing/merging.py
Due: NonTestCode, OutsideTasks

updating workflows (#787)
  .github/workflows/ci.yml
Due: NonTestCode, OutsideTasks

perf: remove extra refresh (#789)
  services/repository.py
Due: NonTestCode, OutsideTasks

update shared
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

Cache and move `load_commit_diff` out of Report lock
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/tests/unit/test_upload_processing_task.py
  tasks/upload_finisher.py
  tasks/upload_processor.py
Due: NonTestCode

update shared (#788)
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

Cache and move `load_commit_diff` out of Report lock (#784)
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/tests/unit/test_upload_processing_task.py
  tasks/upload_finisher.py
  tasks/upload_processor.py
Due: NonTestCode

Use correct signatures for Celery Task Hooks
  helpers/telemetry.py
  tasks/base.py
Due: NonTestCode, OutsideTasks

fix tests
  tasks/tests/unit/test_base.py
Due: NonTestCode

Created prometheus handler class (#790)
  helpers/checkpoint_logger/__init__.py
  helpers/checkpoint_logger/prometheus.py
Due: NonTestCode, OutsideTasks

base task: attempt to log CheckpointLogger errors for on_timeout and on_failure
  helpers/checkpoint_logger/flows.py
  tasks/base.py
Due: NonTestCode, OutsideTasks

update shared (#793)
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

Refactored repository services tests to use fixtures
  services/tests/test_repository_service.py
Due: NonTestCode, OutsideTasks

Refactored repository services tests to use fixtures (#795)
  services/tests/test_repository_service.py
Due: NonTestCode, OutsideTasks

Add defaults to models with DB defaults set
  database/models/core.py
Due: NonTestCode, OutsideTasks

Add defaults to models with DB defaults set (#796)
  database/models/core.py
Due: NonTestCode, OutsideTasks

Refactor tests to use fixtures
  database/tests/factories/core.py
  tasks/tests/unit/test_brolly_stats_rollup.py
  tasks/tests/unit/test_sync_pull.py
Due: NonTestCode, OutsideTasks

Explicitly set pullid
  tasks/tests/unit/test_commit_update.py
  tasks/tests/unit/test_upload_task.py
Due: NonTestCode

Testing basic-test-results
  .github/workflows/ci.yml
Due: NonTestCode, OutsideTasks

chore: further breakdown tracing in BA processor
  services/bundle_analysis/report.py
Due: NonTestCode, OutsideTasks

feat: rewrite the raw test result reports
  tasks/test_results_processor.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode

Fixed various DB incompatibilities with notify tests
  tasks/tests/unit/test_notify_task.py
Due: NonTestCode

Make test results timezone aware
  tasks/tests/unit/test_sync_repos_task.py
Due: NonTestCode

Bootstrap unmigrated tables with SQLAlchemy
  conftest.py
Due: OutsideTasks

Ensure YAML selection checks are before patch centric selection
  services/yaml/tests/test_yaml.py
Due: NonTestCode, OutsideTasks

Bootstrap the test database with Django
  conftest.py
  pytest.ini
Due: NonTestCode, OutsideTasks

Ensure that upload id exists in the database
  tasks/tests/unit/test_upload_processing_task.py
Due: NonTestCode

Fix upload tests to reference correct pull ids and create timestamp
  database/tests/factories/core.py
  tasks/tests/unit/test_upload_task.py
Due: NonTestCode, OutsideTasks

Add some test fixes for report and notify helpers
  services/bundle_analysis/notify/tests/test_helpers.py
  services/notification/notifiers/tests/conftest.py
  services/notification/notifiers/tests/unit/test_comment.py
  services/notification/tests/unit/test_commit_notifications.py
  services/tests/test_billing.py
  services/tests/test_report.py
Due: NonTestCode, OutsideTasks

Expect timezone aware timestamps for notification webhook test
  services/notification/notifiers/tests/unit/test_webhook.py
Due: NonTestCode, OutsideTasks

Deduplicate (pullid,repoid) for tests
  services/notification/notifiers/tests/integration/cassetes/test_comment/TestCommentNotifierIntegration/test_notify_gitlab.yaml
  services/notification/notifiers/tests/integration/cassetes/test_comment/TestCommentNotifierIntegration/test_notify_upgrade.yaml
  services/notification/notifiers/tests/integration/cassetes/test_comment/TestCommentNotifierIntegration/test_notify_upload_limited.yaml
  services/notification/notifiers/tests/integration/test_comment.py
Due: NonTestCode, OutsideTasks

Add repoid to prometheus checkpoint fns
  helpers/checkpoint_logger/__init__.py
  helpers/checkpoint_logger/prometheus.py
  helpers/tests/unit/test_checkpoint_logger.py
  rollouts/__init__.py
  tasks/notify.py
  tasks/notify_error.py
  tasks/upload.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

remove prints
  helpers/checkpoint_logger/__init__.py
  helpers/checkpoint_logger/prometheus.py
Due: NonTestCode, OutsideTasks

delete undesired line
  helpers/checkpoint_logger/__init__.py
Due: NonTestCode, OutsideTasks

Path conditions:
  NonTestCode: any file but: conftest.py, **/conftest.py, **tests**/test_*.py, database/tests/factories/**
  OutsideTasks: any file but: tasks/**
