Repository codecov/worker: changes, and which Codecov flags are due for each by the changed paths.
All: NonTestCode, OutsideTasks

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

comment:
  layout: "reach,diff,flags,components,tree"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: actual_code
      name: NonTestCode
      paths:
        - "!conftest.py"
        - "!**/conftest.py"
        - "!**tests**/test_*.py"
        - "!database/tests/factories/**"
    - component_id: no_tasks
      name: OutsideTasks
      paths:
        - "!tasks/**"
      flag_regexes:
        - "unit"

test_analytics:
  flake_detection: true

Add tests
  services/tests/test_test_results.py
Due: NonTestCode, OutsideTasks

More tests fixing
  tasks/tests/unit/test_test_results_finisher.py
Due: NonTestCode

Bootstrap the test database with Django
  conftest.py
  pytest.ini
Due: NonTestCode, OutsideTasks

Bootstrap unmigrated tables with SQLAlchemy
  conftest.py
Due: OutsideTasks

Keep SQLAlchemy and Django tests in separate DBs
  conftest.py
  database/tests/unit/test_model_utils.py
  django_scaffold/tests_settings.py
  pytest.ini
Due: NonTestCode, OutsideTasks

Make test results timezone aware
  tasks/tests/unit/test_sync_repos_task.py
Due: NonTestCode

Fixed various DB incompatibilities with notify tests
  tasks/tests/unit/test_notify_task.py
Due: NonTestCode

Ensure YAML selection checks are before patch centric selection
  services/yaml/tests/test_yaml.py
Due: NonTestCode, OutsideTasks

Fix upload tests to reference correct pull ids and create timestamp
  database/tests/factories/core.py
  tasks/tests/unit/test_upload_task.py
Due: NonTestCode, OutsideTasks

Fix commit state in tests
  tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: NonTestCode

Deduplicate (pullid,repoid) for tests
  services/notification/notifiers/tests/integration/cassetes/test_comment/TestCommentNotifierIntegration/test_notify_gitlab.yaml
  services/notification/notifiers/tests/integration/cassetes/test_comment/TestCommentNotifierIntegration/test_notify_upgrade.yaml
  services/notification/notifiers/tests/integration/cassetes/test_comment/TestCommentNotifierIntegration/test_notify_upload_limited.yaml
  services/notification/notifiers/tests/integration/test_comment.py
Due: NonTestCode, OutsideTasks

Fix timezones for test_test_results_processor_task
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode

Fix timezone test for test_sync_teams_task
  tasks/tests/unit/test_sync_teams_task.py
Due: NonTestCode

Expect timezone aware timestamps for notification webhook test
  services/notification/notifiers/tests/unit/test_webhook.py
Due: NonTestCode, OutsideTasks

Add some test fixes for report and notify helpers
  services/bundle_analysis/notify/tests/test_helpers.py
  services/notification/notifiers/tests/conftest.py
  services/notification/notifiers/tests/unit/test_comment.py
  services/notification/tests/unit/test_commit_notifications.py
  services/tests/test_billing.py
Due: NonTestCode, OutsideTasks

Fix ghm sync plan tests
  tasks/tests/unit/test_ghm_sync_plans.py
Due: NonTestCode

Fix timeseries tests
  services/tests/test_timeseries.py
Due: NonTestCode, OutsideTasks

Fix test to actually add owner correctly
  helpers/tests/unit/test_github_installation.py
Due: NonTestCode, OutsideTasks

Fix backfill test flags to match on generated ids
  one_off_scripts/tests/test_backfill_test_flag_bridges.py
Due: NonTestCode, OutsideTasks

Ensure result ordering for DailyTestRollups test
  tasks/tests/unit/test_process_flakes.py
Due: NonTestCode

Fixed setup and ensured ordering for one off scripts tests
  one_off_scripts/tests/test_backfill_daily_test_rollups.py
  one_off_scripts/tests/test_backfill_test_flag_bridges.py
  one_off_scripts/tests/utils.py
Due: NonTestCode, OutsideTasks

Fix timezones and other stuff for notify tests
  tasks/tests/integration/test_notify_task.py
Due: NonTestCode

Fix flake in test_test_results_processor_task
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode

Make delete owners tests use generated keys
  tasks/tests/unit/test_delete_owner.py
Due: NonTestCode

Ensure that notify test has users in its org
  tasks/tests/integration/test_notify_task.py
Due: NonTestCode

Update shared
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

Run django db migrations for tests (#729)
  conftest.py
  database/tests/factories/core.py
  database/tests/unit/test_model_utils.py
  django_scaffold/tests_settings.py
  helpers/tests/unit/test_github_installation.py
  one_off_scripts/tests/test_backfill_daily_test_rollups.py
  one_off_scripts/tests/test_backfill_test_flag_bridges.py
  one_off_scripts/tests/utils.py
  pytest.ini
  requirements.in
  requirements.txt
  services/bundle_analysis/notify/tests/test_helpers.py
  services/notification/notifiers/tests/conftest.py
  services/notification/notifiers/tests/integration/cassetes/test_comment/TestCommentNotifierIntegration/test_notify_gitlab.yaml
  services/notification/notifiers/tests/integration/cassetes/test_comment/TestCommentNotifierIntegration/test_notify_upgrade.yaml
  services/notification/notifiers/tests/integration/cassetes/test_comment/TestCommentNotifierIntegration/test_notify_upload_limited.yaml
  services/notification/notifiers/tests/integration/test_comment.py
  services/notification/notifiers/tests/unit/test_comment.py
  services/notification/notifiers/tests/unit/test_webhook.py
  services/notification/tests/unit/test_commit_notifications.py
  services/tests/test_billing.py
  services/tests/test_timeseries.py
  services/yaml/tests/test_yaml.py
  tasks/tests/integration/test_notify_task.py
  tasks/tests/unit/test_bundle_analysis_processor_task.py
  tasks/tests/unit/test_delete_owner.py
  tasks/tests/unit/test_ghm_sync_plans.py
  tasks/tests/unit/test_notify_task.py
  tasks/tests/unit/test_process_flakes.py
  tasks/tests/unit/test_sync_repos_task.py
  tasks/tests/unit/test_sync_teams_task.py
  tasks/tests/unit/test_test_results_processor_task.py
  tasks/tests/unit/test_upload_task.py
Due: NonTestCode, OutsideTasks

Optimize `update_commit_from_provider_info`
  services/repository.py
  tasks/commit_update.py
  tasks/preprocess_upload.py
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
Due: NonTestCode, OutsideTasks

Adding comma
  services/test_results.py
  services/tests/test_test_results.py
  tasks/tests/unit/test_test_results_finisher.py
Due: NonTestCode, OutsideTasks

fix: Update the PR comment footer copy (#854)
  services/test_results.py
  services/tests/test_test_results.py
  tasks/tests/unit/test_test_results_finisher.py
Due: NonTestCode, OutsideTasks

fix and only select fields we use
  services/repository.py
Due: NonTestCode, OutsideTasks

add more typing
  services/repository.py
Due: NonTestCode, OutsideTasks

fix: add caching tasks to app
  tasks/__init__.py
  tasks/cache_test_rollups.py
  tasks/cache_test_rollups_redis.py
Due: NonTestCode

feat: create cache rollup cron task
  celery_config.py
  tasks/__init__.py
  tasks/cache_rollup_cron_task.py
  tasks/cache_test_rollups.py
  tasks/tests/unit/test_cache_rollup_cron_task.py
  tasks/tests/unit/test_cache_test_rollups.py
Due: NonTestCode, OutsideTasks

deps: add pyarrow
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

fix: use test-results-parser computed name
  requirements.in
  requirements.txt
  tasks/test_results_processor.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode, OutsideTasks

deps: update shared
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

fix
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

add pandas
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

update delete to cancel and prorate, and fix tests
  tasks/github_marketplace.py
  tasks/tests/unit/test_ghm_sync_plans.py
Due: NonTestCode
