Repository codecov/worker: changes, and which Codecov flags are due for each by the changed paths.
All: NonTestCode, OutsideTasks

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
comment:
  show_critical_paths: true
  layout: "reach,diff,flags,components,tree,betaprofiling"
beta_groups:
  - "labels"
flag_management:
  individual_flags:
    - name: "onlysomelabels"
      carryforward: true
      carryforward_mode: "labels"
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: actual_code
      name: NonTestCode
      paths:
        - "!conftest.py"
        - "!**/conftest.py"
        - "!**tests**/test_*.py"
        - "!database/tests/factories/**"
    - component_id: no_tasks
      name: OutsideTasks
      paths:
        - "!tasks/**"
      flag_regexes:
        - "unit"

test_analytics:
  flake_detection: true

fix: try to insert new test_flag_bridge only if test is new
  tasks/test_results_processor.py
Due: NonTestCode

lcov Branches should override Lines
  services/report/languages/lcov.py
  services/report/languages/tests/unit/test_lcov.py
Due: NonTestCode, OutsideTasks

Account for diff, changes and totals being legitimately `None`
  services/comparison/__init__.py
  services/comparison/changes.py
  services/comparison/tests/unit/test_comparison_proxy.py
Due: NonTestCode, OutsideTasks

Account for diff, changes and totals being legitimately `None` (#736)
  services/comparison/__init__.py
  services/comparison/changes.py
  services/comparison/tests/unit/test_comparison_proxy.py
Due: NonTestCode, OutsideTasks

feat: delete flake_detection.py
  services/flake_detection.py
  services/tests/test_flake_detector.py
Due: NonTestCode, OutsideTasks

feat: add flaky_fail_count field to DailyTestRollup sqlalchemy model
  database/models/reports.py
Due: NonTestCode, OutsideTasks

feat: update test results processor to update flaky_fail_count
  tasks/test_results_processor.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode

feat: update process flakes to properly handle flaky_fail_count
  tasks/process_flakes.py
  tasks/tests/unit/test_process_flakes.py
Due: NonTestCode

fix: don't handle edge cases that don't actually count and fix bug
  tasks/process_flakes.py
  tasks/test_results_processor.py
  tasks/tests/unit/test_process_flakes.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode

update shared version
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

test: create FlakeFactory
  database/tests/factories/reports.py
Due: OutsideTasks

fix: address feedback
  tasks/process_flakes.py
  tasks/test_results_processor.py
Due: NonTestCode

quick fix
  tasks/process_flakes.py
Due: NonTestCode

test: fix tests
  tasks/tests/unit/test_process_flakes.py
Due: NonTestCode

fix: function calls
  tasks/process_flakes.py
Due: NonTestCode

Remove ATS setup
  .github/workflows/ci.yml
  Makefile
  codecov.yml
  codecov_cli.yml
  service_ids
  services/report/__init__.py
  setup.cfg
Due: NonTestCode, OutsideTasks

Remove ATS setup (#737)
  .github/workflows/ci.yml
  Makefile
  codecov.yml
  codecov_cli.yml
  service_ids
  services/report/__init__.py
  setup.cfg
Due: NonTestCode, OutsideTasks

Clean up some carry-forward related code
  helpers/labels.py
  services/path_fixer/__init__.py
  services/report/__init__.py
  services/report/raw_upload_processor.py
  services/repository.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

Create an E2E test for Carryforwarding
  tasks/tests/integration/test_upload_e2e.py
Due: NonTestCode

fix tests
  services/path_fixer/tests/unit/test_path_fixer.py
  services/report/tests/unit/test_sessions.py
  services/report/tests/unit/test_sessions_encoded_labels.py
  services/tests/test_report.py
Due: NonTestCode, OutsideTasks

rename fn
  services/report/raw_upload_processor.py
  services/report/tests/unit/test_sessions.py
  services/report/tests/unit/test_sessions_encoded_labels.py
  services/tests/test_report.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

fix parallel verification
  services/report/__init__.py
  tasks/tests/integration/test_upload_e2e.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

Update flaky fail count in the process flakes task (#705)
  database/models/reports.py
  database/tests/factories/reports.py
  requirements.in
  requirements.txt
  services/flake_detection.py
  services/tests/test_flake_detector.py
  tasks/process_flakes.py
  tasks/test_results_processor.py
  tasks/tests/unit/test_process_flakes.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode, OutsideTasks

feat: create test flag bridge in test results processor
  database/models/reports.py
  tasks/test_results_processor.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode, OutsideTasks

fix: get_existing_tests returns dict of test id to test object
  tasks/test_results_processor.py
Due: NonTestCode

deps: update shared
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

chore: add extra information to log
  tasks/test_results_finisher.py
Due: NonTestCode

fix: don't do wasteful if statement
  tasks/test_results_processor.py
Due: NonTestCode

Create TestFlagBridge during test results processing (#740)
  database/models/reports.py
  requirements.in
  requirements.txt
  tasks/test_results_processor.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode, OutsideTasks

Clean up some carry-forward related code (#738)
  helpers/labels.py
  services/path_fixer/__init__.py
  services/path_fixer/tests/unit/test_path_fixer.py
  services/report/__init__.py
  services/report/raw_upload_processor.py
  services/report/tests/unit/test_sessions.py
  services/report/tests/unit/test_sessions_encoded_labels.py
  services/repository.py
  services/tests/test_report.py
  tasks/tests/integration/test_upload_e2e.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

fix: adjust_base behavior
  services/notification/notifiers/mixins/status.py
  services/notification/notifiers/tests/unit/test_status.py
Due: NonTestCode, OutsideTasks

lcov Branches should override Lines (#735)
  services/report/languages/lcov.py
  services/report/languages/tests/unit/test_lcov.py
Due: NonTestCode, OutsideTasks

feat: fix heuristic when reading flakes (#732)
  tasks/test_results_finisher.py
  tasks/tests/unit/test_test_results_finisher.py
Due: NonTestCode

chore: add extra information to log (#741)
  tasks/test_results_finisher.py
Due: NonTestCode

Create an E2E test for Carryforwarding (#739)
  tasks/tests/integration/test_upload_e2e.py
Due: NonTestCode

Do not `rewrite_readable` legacy Reports
  services/report/parser/legacy.py
  tasks/tests/unit/test_upload_processing_task.py
  tasks/upload_processor.py
Due: NonTestCode, OutsideTasks

fix: adjust_base behavior (#743)
  services/notification/notifiers/mixins/status.py
  services/notification/notifiers/tests/unit/test_status.py
Due: NonTestCode, OutsideTasks

fix test
  services/report/parser/types.py
  tasks/tests/samples/sample_uploaded_report_1.txt
  tasks/tests/unit/test_upload_processing_task.py
Due: NonTestCode, OutsideTasks
