Repository codecov/worker: changes, and which Codecov flags are due for each by the changed paths.
All: NonTestCode, OutsideTasks

fix: Cancel Stripe sub when user purchases via GHM (#859)
  tasks/github_marketplace.py
  tasks/tests/unit/test_ghm_sync_plans.py
Due: NonTestCode

Optimize `update_commit_from_provider_info` (#855)
  services/repository.py
  tasks/commit_update.py
  tasks/preprocess_upload.py
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
Due: NonTestCode, OutsideTasks

Make `process_raw_upload` return the `Report` directly (#850)
  services/processing/processing.py
  services/report/__init__.py
  services/report/raw_upload_processor.py
  services/report/tests/unit/test_process.py
  services/tests/test_report.py
  tasks/tests/unit/test_upload_processing_task.py
Due: NonTestCode, OutsideTasks

Fix `None` being fed into `int()`
  services/repository.py
Due: NonTestCode, OutsideTasks

Remove `labels-index` feature flag
  rollouts/__init__.py
  services/report/__init__.py
  services/report/languages/pycoverage.py
  services/report/languages/tests/unit/__init__.py
  services/report/languages/tests/unit/test_pycoverage_encoded_labels.py
  services/report/raw_upload_processor.py
  services/report/report_builder.py
  services/report/tests/unit/test_report_builder_encoded_labels.py
  services/report/tests/unit/test_sessions.py
  services/report/tests/unit/test_sessions_encoded_labels.py
  tasks/tests/unit/test_upload_processing_task.py
Due: NonTestCode, OutsideTasks

Fix `None` being fed into `int()` (#861)
  services/repository.py
Due: NonTestCode, OutsideTasks

Remove `labels-index` feature flag (#852)
  rollouts/__init__.py
  services/report/__init__.py
  services/report/languages/pycoverage.py
  services/report/languages/tests/unit/__init__.py
  services/report/languages/tests/unit/test_pycoverage_encoded_labels.py
  services/report/raw_upload_processor.py
  services/report/report_builder.py
  services/report/tests/unit/test_report_builder_encoded_labels.py
  services/report/tests/unit/test_sessions.py
  services/report/tests/unit/test_sessions_encoded_labels.py
  tasks/tests/unit/test_upload_processing_task.py
Due: NonTestCode, OutsideTasks

Do not update `Commit.notified`
  tasks/notify.py
  tasks/tests/unit/test_notify_task.py
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/upload_finisher.py
Due: NonTestCode

move and debounce updates to `Repository.updatestamp`
  tasks/upload_finisher.py
Due: NonTestCode

Stop setting `Commit.pullid` in `UploadFinisher`
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/tests/unit/test_upload_processing_task.py
  tasks/tests/utils.py
  tasks/upload_finisher.py
  tasks/upload_processor.py
Due: NonTestCode

fix: remove get_existing_tests from test process (#853)
  requirements.in
  requirements.txt
  tasks/test_results_processor.py
Due: NonTestCode, OutsideTasks

test: fix tests
  tasks/cache_test_rollups.py
  tasks/tests/unit/test_cache_test_rollups.py
Due: NonTestCode

feat: update reqs and lock on cache tasks
  requirements.in
  requirements.txt
  tasks/cache_test_rollups.py
  tasks/cache_test_rollups_redis.py
Due: NonTestCode, OutsideTasks

fix tasks and reqs
  requirements.in
  requirements.txt
  tasks/cache_test_rollups.py
  tasks/cache_test_rollups_redis.py
Due: NonTestCode, OutsideTasks

feat: create cache test rollups task (#821)
  requirements.in
  requirements.txt
  services/test_results.py
  tasks/__init__.py
  tasks/cache_test_rollups.py
  tasks/cache_test_rollups_redis.py
  tasks/test_results_finisher.py
  tasks/test_results_processor.py
  tasks/tests/unit/test_cache_test_rollups.py
  tasks/tests/unit/test_cache_test_rollups_redis.py
  tasks/tests/unit/test_test_results_finisher.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode, OutsideTasks

Do not update `Commit.notified` (#860)
  tasks/notify.py
  tasks/tests/unit/test_notify_task.py
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/tests/unit/test_upload_processing_task.py
  tasks/tests/utils.py
  tasks/upload_finisher.py
  tasks/upload_processor.py
Due: NonTestCode

Remove `CleanLabelsIndex` task
  tasks/__init__.py
  tasks/tests/unit/test_clean_labels_index.py
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/upload_clean_labels_index.py
  tasks/upload_finisher.py
Due: NonTestCode

Remove `CleanLabelsIndex` task (#863)
  tasks/__init__.py
  tasks/tests/unit/test_clean_labels_index.py
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/upload_clean_labels_index.py
  tasks/upload_finisher.py
Due: NonTestCode

Only update the `Upload` once in `UploadFinisher`
  services/processing/merging.py
  services/processing/processing.py
  services/processing/types.py
  services/report/__init__.py
  services/tests/test_report.py
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/tests/unit/test_upload_processing_task.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

Only update the `Upload` once in `UploadFinisher` (#841)
  services/processing/merging.py
  services/processing/processing.py
  services/processing/types.py
  services/report/__init__.py
  services/tests/test_report.py
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/tests/unit/test_upload_processing_task.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

Account for `Repository.updatestamp` being nullable
  tasks/upload_finisher.py
Due: NonTestCode

Further cleanup `UploadArguments` and normalize `flags`
  services/processing/types.py
  services/report/__init__.py
  services/test_results.py
  services/tests/test_report.py
  tasks/bundle_analysis_processor.py
  tasks/test_results_processor.py
  tasks/tests/integration/test_upload_e2e.py
  tasks/tests/unit/test_bundle_analysis_processor_task.py
  tasks/tests/unit/test_test_results_processor_task.py
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

Further cleanup `UploadArguments` and normalize `flags` (#862)
  services/processing/types.py
  services/report/__init__.py
  services/test_results.py
  services/tests/test_report.py
  tasks/bundle_analysis_processor.py
  tasks/test_results_processor.py
  tasks/tests/integration/test_upload_e2e.py
  tasks/tests/unit/test_bundle_analysis_processor_task.py
  tasks/tests/unit/test_test_results_processor_task.py
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

Account for `Repository.updatestamp` being nullable (#865)
  tasks/upload_finisher.py
Due: NonTestCode

Optimize Report merging
  services/processing/merging.py
  services/report/raw_upload_processor.py
  tasks/tests/integration/test_upload_e2e.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

Hardcode and cleanup `intermediate_reports_in_redis` feature
  rollouts/__init__.py
  services/processing/intermediate.py
  services/processing/processing.py
  tasks/tests/integration/test_upload_e2e.py
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
  tasks/upload_finisher.py
  tasks/upload_processor.py
Due: NonTestCode, OutsideTasks

fix compute comparison not updating on successive report updates
  tasks/compute_comparison.py
  tasks/tests/integration/test_upload_e2e.py
Due: NonTestCode

fix: add disable-search
  Makefile
Due: NonTestCode, OutsideTasks

fix: make flags do the thing (#868)
  Makefile
Due: NonTestCode, OutsideTasks

Update workflow to use basic-test-results
  .github/workflows/ci.yml
Due: NonTestCode, OutsideTasks

Update workflow to use basic-test-results (#856)
  .github/workflows/ci.yml
Due: NonTestCode, OutsideTasks

fix: minimize deadlocks
  tasks/test_results_processor.py
Due: NonTestCode

fix: sorting of tests being inserted
  tasks/test_results_processor.py
Due: NonTestCode

Check models exists before creating for SQLAlchemy
  conftest.py
Due: OutsideTasks

fix: fix sort key for test insert
  tasks/test_results_processor.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode

Allow for "reuse_db" functionality
  conftest.py
Due: OutsideTasks

fix: cache tasks args
  tasks/cache_test_rollups.py
  tasks/cache_test_rollups_redis.py
Due: NonTestCode

fix: cache tasks args (#871)
  tasks/cache_test_rollups.py
  tasks/cache_test_rollups_redis.py
Due: NonTestCode

fix: minimize deadlocks (#869)
  tasks/test_results_processor.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode

fix: cache rollup task serialization
  tasks/cache_test_rollups.py
Due: NonTestCode

Path conditions:
  NonTestCode: any file but: conftest.py, **/conftest.py, **tests**/test_*.py, database/tests/factories/**
  OutsideTasks: any file but: tasks/**
