Repository codecov/worker: changes, and which Codecov flags are due for each by the changed paths.
All: NonTestCode, OutsideTasks

fix: Add some missing report type filtering
  database/models/core.py
  services/decoration.py
  tasks/manual_trigger.py
Due: NonTestCode, OutsideTasks

fix: Can't have property args
  database/models/core.py
Due: NonTestCode, OutsideTasks

fix: mark commits coming from forks in branch
  requirements.in
  requirements.txt
  services/repository.py
  services/tests/test_repository_service.py
Due: NonTestCode, OutsideTasks

fix: mark commits coming from forks in branch (#217)
  requirements.in
  requirements.txt
  services/repository.py
  services/tests/test_repository_service.py
Due: NonTestCode, OutsideTasks

chore: add .envrc to gitignore
  .gitignore
Due: NonTestCode, OutsideTasks

chore: add .envrc to gitignore (#196)
  .gitignore
Due: NonTestCode, OutsideTasks

fix: update members_url_self_hosted to correct value
  services/notification/notifiers/tests/conftest.py
  services/notification/notifiers/tests/unit/test_comment.py
  services/urls.py
Due: NonTestCode, OutsideTasks

chore: make lint
  services/notification/notifiers/tests/conftest.py
Due: OutsideTasks

fix: update members_url_self_hosted to correct value (#216)
  services/notification/notifiers/tests/conftest.py
  services/notification/notifiers/tests/unit/test_comment.py
  services/urls.py
Due: NonTestCode, OutsideTasks

fix: skip labelless datapoints in report builder
  services/report/languages/tests/unit/test_pycoverage.py
  services/report/languages/tests/unit/test_pycoverage_encoded_labels.py
  services/report/report_builder.py
  services/report/tests/unit/test_report_builder.py
Due: NonTestCode, OutsideTasks

update shared
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

update shared (#219)
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

feat: Add bundle analysis processor task
  database/enums.py
  database/models/core.py
  requirements.txt
  services/bundle_analysis.py
  services/lock_manager.py
  services/report/__init__.py
  tasks/__init__.py
  tasks/bundle_analysis_processor.py
  tasks/tests/unit/cassetes/test_upload_task/TestUploadTaskIntegration/test_upload_task_call_bundle_analysis.yaml
  tasks/tests/unit/test_bundle_analysis_processor_task.py
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
Due: NonTestCode, OutsideTasks

fix: Use updated bundle analysis bucket name function
  requirements.in
  requirements.txt
  services/bundle_analysis.py
  tasks/tests/unit/test_bundle_analysis_processor_task.py
Due: NonTestCode, OutsideTasks

fix: commit to db after computing flag and component comparisons
  tasks/compute_comparison.py
Due: NonTestCode

fix: commit to db after computing flag and component comparisons (#222)
  tasks/compute_comparison.py
Due: NonTestCode

fix: don't close the connection in the metric context manager
  helpers/telemetry.py
Due: NonTestCode, OutsideTasks

fix: don't close the connection in the metric context manager (#223)
  helpers/telemetry.py
Due: NonTestCode, OutsideTasks

chore: add more info to path fix logs
  services/report/raw_upload_processor.py
Due: NonTestCode, OutsideTasks

chore: quick typo fix
  services/report/raw_upload_processor.py
Due: NonTestCode, OutsideTasks

feat: Bundle analysis notify task
  database/models/core.py
  services/bundle_analysis.py
  services/lock_manager.py
  services/tests/test_bundle_analysis.py
  tasks/__init__.py
  tasks/bundle_analysis_notify.py
  tasks/tests/unit/test_bundle_analysis_notify_task.py
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
Due: NonTestCode, OutsideTasks

chore: add more info to path fix logs (#221)
  services/report/raw_upload_processor.py
Due: NonTestCode, OutsideTasks

fix: Handle removed bundles in PR comment
  services/bundle_analysis.py
  services/tests/test_bundle_analysis.py
Due: NonTestCode, OutsideTasks

feat: some per-customer ats metrics
  tasks/label_analysis.py
  tasks/static_analysis_suite_check.py
  tasks/tests/unit/test_check_static_analysis.py
  tasks/tests/unit/test_label_analysis.py
  tasks/tests/unit/test_label_analysis_encoded_labels.py
Due: NonTestCode

fix: handle scientific notation when parsing hit count in lcov reports
  services/report/languages/lcov.py
  services/report/languages/tests/unit/test_lcov.py
Due: NonTestCode, OutsideTasks

replace `log_simple_metric` with `attempt` func
  tasks/label_analysis.py
  tasks/tests/unit/test_label_analysis.py
  tasks/tests/unit/test_label_analysis_encoded_labels.py
Due: NonTestCode

fix: handle scientific notation when parsing hit count in lcov reports (#227)
  services/report/languages/lcov.py
  services/report/languages/tests/unit/test_lcov.py
Due: NonTestCode, OutsideTasks

fix: skip labelless datapoints in report builder (#218)
  services/report/languages/tests/unit/test_pycoverage.py
  services/report/languages/tests/unit/test_pycoverage_encoded_labels.py
  services/report/report_builder.py
  services/report/tests/unit/test_report_builder.py
Due: NonTestCode, OutsideTasks

be explicit about using class attrs
  tasks/label_analysis.py
Due: NonTestCode

feat: some per-customer ats metrics (#226)
  tasks/label_analysis.py
  tasks/static_analysis_suite_check.py
  tasks/tests/unit/test_check_static_analysis.py
  tasks/tests/unit/test_label_analysis.py
  tasks/tests/unit/test_label_analysis_encoded_labels.py
Due: NonTestCode

feat: increase legnth of flag_name to 1024 chars
  database/models/reports.py
Due: NonTestCode, OutsideTasks

chore: update shared version
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

test: modify pytest.ini to ignore test_results files
  pytest.ini
Due: NonTestCode, OutsideTasks

feat: add support for test result ingestion in upload task
  tasks/upload.py
Due: NonTestCode

feat: add models for test result ingestion
  database/models/reports.py
Due: NonTestCode, OutsideTasks

chore: update deps
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

test: add tests for the test result processor task
  tasks/tests/samples/sample_test.txt
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode

feat: create test results processor task
  requirements.in
  requirements.txt
  tasks/test_results_processor.py
Due: NonTestCode, OutsideTasks

tests: update test_result upload tests
  tasks/tests/unit/cassetes/test_upload_task/TestUploadTaskIntegration/test_upload_task_call_test_results.yaml
  tasks/tests/unit/test_upload_task.py
Due: NonTestCode

Path conditions:
  NonTestCode: any file but: conftest.py, **/conftest.py, **tests**/test_*.py, database/tests/factories/**
  OutsideTasks: any file but: tasks/**
