Repository codecov/worker: changes, and which Codecov flags are due for each by the changed paths.
All: NonTestCode, OutsideTasks

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

comment:
  layout: "reach,diff,flags,components,tree"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: actual_code
      name: NonTestCode
      paths:
        - "!conftest.py"
        - "!**/conftest.py"
        - "!**tests**/test_*.py"
        - "!database/tests/factories/**"
    - component_id: no_tasks
      name: OutsideTasks
      paths:
        - "!tasks/**"
      flag_regexes:
        - "unit"

test_analytics:
  flake_detection: true

Optimize Report merging (#867)
  services/processing/merging.py
  services/report/raw_upload_processor.py
  tasks/compute_comparison.py
  tasks/tests/integration/test_upload_e2e.py
  tasks/upload_finisher.py
Due: NonTestCode, OutsideTasks

Hardcode and cleanup `intermediate_reports_in_redis` feature (#866)
  rollouts/__init__.py
  services/processing/intermediate.py
  services/processing/processing.py
  tasks/tests/integration/test_upload_e2e.py
  tasks/tests/unit/test_upload_task.py
  tasks/upload.py
  tasks/upload_finisher.py
  tasks/upload_processor.py
Due: NonTestCode, OutsideTasks

Update with the correct feedback link
  services/test_results.py
  services/tests/test_test_results.py
  tasks/tests/unit/test_test_results_finisher.py
Due: NonTestCode, OutsideTasks

Fix `joined=False` functionality
  services/processing/merging.py
  services/report/__init__.py
  services/report/raw_upload_processor.py
  services/report/tests/unit/test_process.py
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/tests/unit/test_upload_processing_task.py
Due: NonTestCode, OutsideTasks

fix: cache rollup task serialization (#872)
  tasks/cache_test_rollups.py
Due: NonTestCode

fix: use test-results-parser computed name (#858)
  requirements.in
  requirements.txt
  tasks/test_results_processor.py
  tasks/tests/unit/test_test_results_processor_task.py
Due: NonTestCode, OutsideTasks

fix: polars schema inference issue
  tasks/cache_test_rollups.py
Due: NonTestCode

fix: polars schema inference issue (#876)
  tasks/cache_test_rollups.py
Due: NonTestCode

fix: use read replica in cache_test_rollups
  tasks/cache_test_rollups.py
Due: NonTestCode

fix: use read replica in cache_test_rollups (#877)
  tasks/cache_test_rollups.py
Due: NonTestCode

deps: update shared
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

test: fix tests
  tasks/tests/unit/test_test_results_finisher.py
Due: NonTestCode

deps: update shared (#878)
  requirements.in
  requirements.txt
  tasks/tests/unit/test_test_results_finisher.py
Due: NonTestCode, OutsideTasks

feat: don't do flake detection on private repos not on the pro plan
  services/test_results.py
  tasks/sync_pull.py
  tasks/test_results_finisher.py
  tasks/tests/unit/test_test_results_finisher.py
Due: NonTestCode, OutsideTasks

fix: address feedback
  services/test_results.py
  services/tests/test_test_results.py
  tasks/test_results_finisher.py
Due: NonTestCode, OutsideTasks

feat(test analytics): add checking for repo privacy and plan
  rollouts/__init__.py
  services/test_results.py
  services/tests/test_test_results.py
  tasks/sync_pull.py
  tasks/test_results_finisher.py
  tasks/tests/unit/test_test_results_finisher.py
Due: NonTestCode, OutsideTasks

test: fix tests
  tasks/tests/unit/test_sync_pull.py
  tasks/tests/unit/test_test_results_finisher.py
Due: NonTestCode

update bucket name for stage using env var
  django_scaffold/settings.py
  tasks/cache_test_rollups.py
  tasks/cache_test_rollups_redis.py
Due: NonTestCode, OutsideTasks

default to codecov just in case
  django_scaffold/settings.py
Due: NonTestCode, OutsideTasks

fix: Update bucket name for TA Stage result storage (#879)
  django_scaffold/settings.py
  tasks/cache_test_rollups.py
  tasks/cache_test_rollups_redis.py
Due: NonTestCode, OutsideTasks

Fix `joined=False` functionality (#874)
  services/processing/merging.py
  services/report/__init__.py
  services/report/raw_upload_processor.py
  services/report/tests/unit/test_process.py
  tasks/tests/unit/test_upload_finisher_task.py
  tasks/tests/unit/test_upload_processing_task.py
Due: NonTestCode, OutsideTasks

Optimize repeated path-fixing and calls to `supports_labels`
  services/path_fixer/__init__.py
  services/report/languages/helpers.py
  services/report/report_builder.py
Due: NonTestCode, OutsideTasks

switch to `Sequence`/`tuple` which is hashable
  services/path_fixer/__init__.py
  services/path_fixer/tests/unit/test_path_fixer.py
  services/report/languages/cobertura.py
Due: NonTestCode, OutsideTasks

Optimize repeated path-fixing and calls to `supports_labels` (#875)
  services/path_fixer/__init__.py
  services/path_fixer/tests/unit/test_path_fixer.py
  services/report/languages/cobertura.py
  services/report/languages/helpers.py
  services/report/report_builder.py
Due: NonTestCode, OutsideTasks

Fix Zero Coverage in Status Notifier
  services/notification/notifiers/mixins/status.py
  services/notification/notifiers/tests/unit/test_status.py
Due: NonTestCode, OutsideTasks

Fix notifiers assuming a `Report` exists
  services/comparison/types.py
  services/notification/notifiers/codecov_slack_app.py
  tasks/compute_comparison.py
  tasks/notify.py
  tasks/save_report_results.py
Due: NonTestCode, OutsideTasks

feat: add formatting to code blocks in PR comment
  services/test_results.py
  services/tests/test_test_results.py
  tasks/tests/unit/test_test_results_finisher.py
Due: NonTestCode, OutsideTasks

fix tests
  services/notification/notifiers/status/base.py
  tasks/tests/integration/test_notify_task.py
Due: NonTestCode, OutsideTasks

Fix Zero Coverage in Status Notifier (#880)
  services/notification/notifiers/mixins/status.py
  services/notification/notifiers/tests/unit/test_status.py
Due: NonTestCode, OutsideTasks

feat: add logging to test results processor task
  tasks/test_results_processor.py
Due: NonTestCode

Allow for "reuse_db" test functionality (#870)
  conftest.py
Due: OutsideTasks

Remove remnants of codecov-opentelemetry
  celery_config.py
  enterprise/hooks/hook-opentelemetry.py
  enterprise/package.sh
  requirements.in
  requirements.txt
Due: NonTestCode, OutsideTasks

feat: add logging to test results processor task (#882)
  tasks/test_results_processor.py
Due: NonTestCode

feat: add formatting to code blocks in PR comment (#884)
  services/test_results.py
  services/tests/test_test_results.py
  tasks/tests/unit/test_test_results_finisher.py
Due: NonTestCode, OutsideTasks

Clean up outdated task documentation
  tasks/README.md
Due: NonTestCode

Clean up outdated task documentation (#885)
  tasks/README.md
Due: NonTestCode

Fix MIME type on HTML emails for send email task
  helpers/email.py
  tasks/tests/integration/test_send_email_task.py
Due: NonTestCode, OutsideTasks

Add display name to default email address
  tasks/send_email.py
Due: NonTestCode

Run lint
  tasks/send_email.py
Due: NonTestCode

fix: MIME type for HTML emails (#886)
  helpers/email.py
  tasks/send_email.py
  tasks/tests/integration/test_send_email_task.py
Due: NonTestCode, OutsideTasks
